@import "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css";
body{
	background: #fafafa;
}
#content{
    max-width: 1200px;
    background: #fff;

}
.sect1{
	background: #f4f4f4;
	padding: 20px;
}
.sect1+.sect1{
	border-top: 1px solid #eee;
}
.sect2{
	background: #fff;
	padding: 20px;
}
.sect2+.sect2 {
	border-top: 1px dotted #e5e5e5;
}


.custom-ui-macro-menu-css-v1 .menuseq .menu,
.custom-ui-macro-menu-css-v1.menuseq .submenu,
.custom-ui-macro-menu-css-v1 .menuseq .menuitem{
    padding: 5px;
    border: 1px dotted #ddd;
}
.custom-ui-macro-menu-css-v1 .menuseq .menu{
    background: hsl(20,20%,90%);
}
.custom-ui-macro-menu-css-v1 .menuseq .submenu{
  background: hsl(200,20%,90%);
}
.custom-ui-macro-menu-css-v1 .menuseq .menuitem{
  background: hsl(160,20%,90%);
}



.custom-ui-macro-menu-css-v1 .menuseq{
display: inline;
}
.custom-ui-macro-menu-css-v1 .menuseq .menu,
.custom-ui-macro-menu-css-v1 .menuseq .submenu,
.custom-ui-macro-menu-css-v1 .menuseq .menuitem{
    padding: 2px 5px;
	margin-bottom: 5px;
	display: inline-block;
    border: 1px dotted green;
	background : #f4f4f4;
}
.custom-ui-macro-menu-css-v1 .menuseq .menu{

}
.custom-ui-macro-menu-css-v1 .menuseq .submenu{

}
.custom-ui-macro-menu-css-v1 .menuseq .menuitem{
    border-color: red;
}
